/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-txp-slider {
	background-color: #969696;
	color: #323232;
	padding: 2px;
}

.txp-dynamic-align-center {
	text-align: center;
}
.txp-dynamic-align-left {
	text-align: left;
}
.txp-dynamic-align-right {
	text-align: right;
}